/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Global reset and background */
body {
  margin: 0;
  padding: 0;
  background-color: #fffffb;
  font-family: 'Open Sans', sans-serif; /* optional: set default font */
  color: #000000; /* optional: default text color */
}

.header{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 300px;
  font-family: 'Space Mono', monospace;
  font-size: 100px;
  font-weight: bolder;
  color: #0047ff;
  line-height: 0.96;
  opacity: .82
}

.subheader{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
  position: relative;
  margin-top: -32px;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2.2px 2.2px 0px #a6a6a6;

}


.subheader::after{
  content: "";
  position: absolute;
  bottom: -10px;
  transform-origin: center;
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, transparent, #a6a6a6, transparent);
}


button {
  all: unset; /* removes default styles */
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 130.5px;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 37px;
}

.navigation a,
.navigation button{
  text-decoration: none;
  color: #000000;
  font-weight: 300;
  padding-bottom: 0;
  position: relative;
}

.navigation a:hover,
.navigation button:hover{
  
  text-shadow: 1.5px 1.5px 0px #a6a6a6;
}

.navigation a::after,
.navigation button::after{
 content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 130%;
  height: 3px;
  background: linear-gradient(to right, transparent, #a6a6a6, transparent);
  transition: transform 0.4s ease;
}

.navigation a:hover::after, 
.navigation button:hover::after{
   transform: translateX(-50%) scaleX(1);
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tab.active {
  color: #0047ff;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 0px #a0b5fe;  /* Optional underline with ::after */
  position: relative;
}

.tab.active:hover{
  text-shadow: 1.5px 1.5px 0px #a0b5fe;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 3px;
  background: linear-gradient(to right, transparent, #0047ff, transparent);
}