/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Global reset and background */
body {
  margin: 0;
  padding: 0;
  background-color: #fffffb;
  font-family: 'Open Sans', sans-serif; /* optional: set default font */
  color: #000000; /* optional: default text color */
}

.header{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 300px;
  font-family: 'Space Mono', monospace;
  font-size: 120px;
  font-weight: bolder;
  color: #0047ff;
  line-height: 0.96;
  opacity: .82
}

.subheader{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
  position: relative;
  margin-top: -32px;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2.2px 2.2px 0px #a6a6a6;

}


.subheader::after{
  content: "";
  position: absolute;
  bottom: -10px;
  transform-origin: center;
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, transparent, #a6a6a6, transparent);
}


button {
  all: unset; /* removes default styles */
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 130.5px;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
}

#about .navigation{
  margin-top: 140px;
}

#projects .navigation{
  margin-top: 180px;
  gap: 100px;
}

#resumes .navigation{
  margin-top: 180px;
}

.navigation a,
.navigation button{
  text-decoration: none;
  color: #000000;
  font-weight: 300;
  padding-bottom: 0;
  position: relative;
}

.navigation a:hover,
.navigation button:hover{
 text-shadow: 1.5px 1.5px 0px #a6a6a6;
}

.navigation a::after,
.navigation button::after{
 content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 130%;
  height: 3px;
  background: linear-gradient(to right, transparent, #a6a6a6, transparent);
  transition: transform 0.4s ease;
}

.navigation a:hover::after, 
.navigation button:hover::after{
   transform: translateX(-50%) scaleX(1);
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: grid;
}

#about .tab::before{
  content: "";
  position: absolute;
  top: -50px; /* position ABOVE the text */
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: #545454;
  border-radius: 50%;
}

#about .tab:nth-child(odd)::before{
  transform: translateY(-40px);
}

#about .tab.active::before{
  width: 8px;
  height: 8px;
  background-color: #0047ff;
}

#projects .tab::before{
  content: "";
  position: absolute;
  top: -110px; /* position ABOVE the text */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 53px solid #d9d9d9;
}

#projects .tab.active::before{
  border-top: 53px solid #0047ff;
  border-bottom: none;
}

#projects .tab span::before{
  content: "";
  position: absolute;
  top: -103px; /* position ABOVE the text */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 43px solid #fffffb;
}

#projects .tab.active span::before{
  top: -104px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 34px solid #fffffb;
  border-bottom: none;
}

#resumes .tab span::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -120px; /* position ABOVE the text */
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

#resumes button.tab:nth-child(1) span::before{
  transform: translateX(770%);
}
#resumes button.tab:nth-child(2) span::before{
  transform: translateX(320%);
}
#resumes button.tab:nth-child(3) span::before{
  transform: translateX(-280%);
}
#resumes button.tab:nth-child(4) span::before{
  transform: translateX(-810%);
}

#resumes button.tab.active:nth-child(1) span::before{
  transform: translateX(500%);
}
#resumes button.tab.active:nth-child(2) span::before{
  transform: translateX(200%);
}
#resumes button.tab.active:nth-child(3) span::before{
  transform: translateX(-200%);
}
#resumes button.tab.active:nth-child(4) span::before{
  transform: translateX(-550%);
}

#resumes button.tab.active:nth-child(1) span::after{
  transform: translateX(550%);
}
#resumes button.tab.active:nth-child(2) span::after{
  transform: translateX(223%);
}
#resumes button.tab.active:nth-child(3) span::after{
  transform: translateX(-214%);
}
#resumes button.tab.active:nth-child(4) span::after{
  transform: translateX(-595%);
}


#resumes .tab.active span::before{
  width: 60px;
  height: 60px;
  background-color: #a0b5fe;
  top: -130px;
}

#resumes .tab.active span::after{
  content: "";
  position: absolute;
  top: -127.5px; /* position ABOVE the text */
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  background-color: #0047ff;
  border-radius: 50%;
}

.tab.active {
  color: #0047ff;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 0px #a0b5fe;  /* Optional underline with ::after */
  position: relative;
}

.tab.active:hover{
  text-shadow: 1.5px 1.5px 0px #a0b5fe;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 3px;
  background: linear-gradient(to right, transparent, #0047ff, transparent);
}

.subtitle{
  color: #545454;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 29px;
  font-weight:lighter;
  position: relative;
}

.subtitle::after{
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0%;
  width: 73%;
  height: 4px;
  background: linear-gradient(to right, #0047ff, #0047ff, #0047ff);
}

.text{
  color:#000000;
  font-family: 'open-sans',sans-serif;
  font-size: 24px;
  font-weight: lighter;
  max-width: 73%;
}

.tab-content.active#introduction{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  text-align: left;
  margin-left: 16%;
  >div:nth-child(2n){
    margin-top: 120px;
  }
}






